
<app-menu></app-menu>
<div id="particles-js"></div>
  <div class="head">
    <span class="tns">Helo</span> &nbsp; <span style="color:#15c4c5;">I'm NaveenSingh </span>
      <div class="tttest">
        <div class="content">
            <div class="content__container">
              <ul class="content__container__list">
                <li class="content__container__list__item">Developer</li>
                <li class="content__container__list__item">Web</li>
                <li class="content__container__list__item">Full Stack</li>
                <li class="content__container__list__item">Angular</li>
              </ul>
            </div>
          </div>
      </div>
      <!-- <div style="display:flex;">
        <span style="cursor:pointer;" class="p-2 bd-highlight fa fa-whatsapp" fxLayoutGap="29px"></span>
        <span style="cursor:pointer;" class="p-2 bd-highlight fa fa-github" fxLayoutGap="29px"></span>
        <span style="cursor:pointer;" class="p-2 bd-highlight fa fa-twitter" fxLayoutGap="20px"></span>
      </div> -->
  </div>
