
<app-menu></app-menu>
<div id="particles-js"></div>
  <div class="head">
    <span class="tns">Hola,</span> &nbsp; <span style="color:#15c4c5;">I'm NaveenSingh  </span>
      <div class="tttest">
        <div class="content">
            <div class="content__container">
              <ul class="content__container__list">
                <li class="content__container__list__item">Developer</li>
                <li class="content__container__list__item">Web</li>
                <li class="content__container__list__item">Full Stack</li>
                <li class="content__container__list__item">Angular</li>
              </ul>
            </div>
          </div>
          <!-- Soical Media-->
          <div class="container">
            <div class="child-comp">
               <span class="p-2 bd-highlight fa fa-whatsapp" fxLayoutGap="29px"></span>
            </div>
            <div class="child-comp">
              <span class="p-2 bd-highlight fa fa-github" fxLayoutGap="29px"></span>
           </div>
           <div class="child-comp">
            <span class="p-2 bd-highlight fa fa-twitter" fxLayoutGap="29px"></span>
         </div>
         <div class="child-comp">
          <span class="p-2 bd-highlight fa fa-medium" fxLayoutGap="29px"></span>
       </div>
        </div>
      </div>
  </div>

