
<app-menu></app-menu>
<!-- 
<div class="head">
    <span> Helo I'm NaveenSingh</span>
    <div class="submenu">
        <span style="font-size: 20px;"> Full Stack Developer </span>
    </div>
    <div class="socialicon">
        <i class="fa fa-twitter" style="font-size:24px"></i>
        <i class="fa fa-github" style="font-size:24px"></i>
        <i class="fa fa-whatsapp" style="font-size:24px"></i>
    </div>
    
</div> -->


<div class="content">
    <div class="content__container">
      <p class="content__container__text">
        Hi I'm
      </p>
      
      <ul class="content__container__list">
        <li class="content__container__list__item">NaveenSingh</li>
        <li class="content__container__list__item">Developer</li>
        <li class="content__container__list__item">Javascript</li>
        <li class="content__container__list__item">Angular</li>
      </ul>
    </div>
    <div class="socialicon">
        <i class="fa fa-twitter" style="font-size:24px"></i>
        <i class="fa fa-github" style="font-size:24px"></i>
        <i class="fa fa-whatsapp" style="font-size:24px"></i>
    </div>
  </div>