<header>
<mat-toolbar class="mat-elevation-z6">
  <a class="menucolor" routerLink="/" mat-button> Home</a>
  <a class="menucolor" routerLink="/skills" routerLinkActive ="{'active' : active =='/skills'}" mat-button> Skills</a>
  <a class="menucolor" routerLink="/blog" routerLinkActive ="{'active' : active =='/blog'}" mat-button> What I Do </a>
  <a class="menucolor" mat-button> Contact</a>
  <div class="spacer"></div>
    <mat-icon style="cursor:pointer"*ngIf="!showIcon"
        id="dark"
        matTooltip="Light Mode"
        [matTooltipPosition]="position"
        onclick="darkMode()"
        (click)="showIcon =! showIcon"
      >wb_sunny</mat-icon>

      <mat-icon style="cursor:pointer" *ngIf="showIcon"
      id="light"
      [matTooltipPosition]="position"
      matTooltip="Dark Mode"
      onclick="lightMode()"
      (click)="showIcon =! showIcon"
      >brightness_3</mat-icon>
</mat-toolbar>
<div class="menu-toggle"><i class="fa fa-bars"></i></div>
</header>
<!-- old one-->
<!--
<br/>
<mat-card>
  <ul>
    <li><button  class="menucolor" routerLink="/" mat-button >Home</button>
    </li>
    <li class=""><button class="menucolor" mat-button >Skills</button>
    </li>
    <li class=""><button  class="menucolor" routerLinkActive ="{'active' : active =='/blog'}" routerLink="/blog" mat-button >Blog</button>
    </li>
    <li class=""><button  class="menucolor" mat-button >Contact</button>
    </li>
    <li style="float: right;cursor: pointer;">
      <mat-icon *ngIf="!showIcon"
        id="dark"
        matTooltip="Light Mode"
        [matTooltipPosition]="position"
        onclick="darkMode()"
        (click)="showIcon =! showIcon"
      >wb_sunny</mat-icon>

      <mat-icon *ngIf="showIcon"
      id="light"
      [matTooltipPosition]="position"
      matTooltip="Dark"
      onclick="lightMode()"
      (click)="showIcon =! showIcon"
      >brightness_3</mat-icon>
    </li>
  </ul>

</mat-card> -->

<!-- <app-footer></app-footer> -->
