.spacer {
  flex: 1 1 auto;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-item{
  max-width: 50%;
}

.darkside{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.active{
  border-bottom: 3px solid #45bebf;


}
mat-toolbar{
  background: var(--bg);
  color: var(--text);
  padding: 14px 16px;

}
.menu-toggle{
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
  display: none;
  float: right;
}


mat-card{
  width: 100%;
  height: 70px;

}
mat-icon{
  color: var(--text);
}
button{
  color: var(--text);
}
.test{
  background: var(--bg);
  color: var(--text);
}

/* .menucolor {
  color: var(--text);
  font-family:Nunito Sans;

} */
