.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-item{
  max-width: 50%;
}

.darkside{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
mat-card{
  background: var(--bg);
}

