<app-menu></app-menu>

<p style="font-family: google-sans;padding:50px;font-size:38px;">Skills</p>
<!--
<div style="padding: 60px; width: 100%;">
    <table border="1">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>

      </table>
</div> -->

<table>
  <!-- <tr>
    <th><p style="font-family: google-sans;padding:50px;font-size:30px;">Technical Skills</p></th>
    <th><p style="font-family: google-sans;padding-left:40%;font-size:30px;">Professional Skills</p></th>
  </tr> -->
  <tr>
    <td>
      <div style="padding-left:40%; width: 100%;">
          <div style="font-family: google-sans;font-size: 20px;">
              <p>HTML</p>
              <ngx-skill-bar showFigures="true" percentage="50" numberOfBars="8" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar><br>
              <div>
                  <p>CSS</p>
                  <ngx-skill-bar showFigures="true" percentage="40" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div><br/>
              <div>
                  <p>JavaScript</p>
                  <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="6" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div><br/>
              <div>
                  <p>Angular</p>
                  <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div>

          </div>
      </div>
    </td>
    <td>
      <div style="padding-left:70%; width: 100%;">
          <div style="font-family: google-sans;font-size: 20px;">
              <p>SQL /MySQL</p>
              <ngx-skill-bar showFigures="true" percentage="50" numberOfBars="8" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar><br>
              <div>
                  <p>PHP</p>
                  <ngx-skill-bar showFigures="true" percentage="40" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div><br/>
              <div>
                  <p>Laravel</p>
                  <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="6" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div><br/>
              <div>
                  <p>Python</p>
                  <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
              </div>

          </div>
      </div>

    </td>
  </tr>
</table>

<!-- <mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <div style="padding-left:30%; width: 100%;">
        <div style="font-family: google-sans;font-size: 20px;">
            <p>HTML</p>
            <ngx-skill-bar showFigures="true" percentage="50" numberOfBars="8" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar><br>
            <div>
                <p>CSS</p>
                <ngx-skill-bar showFigures="true" percentage="40" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div><br/>
            <div>
                <p>JavaScript</p>
                <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="6" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div><br/>
            <div>
                <p>Angular</p>
                <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div>

        </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
        <div style="font-family: google-sans;font-size: 20px;">
            <p>SQL</p>
            <ngx-skill-bar showFigures="true" percentage="50" numberOfBars="8" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar><br>
            <div>
                <p>PHP</p>
                <ngx-skill-bar showFigures="true" percentage="40" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div><br/>
            <div>
                <p>PHP</p>
                <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="6" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div><br/>
            <div>
                <p>Laravel</p>
                <ngx-skill-bar showFigures="true" percentage="30" numberOfBars="7" bgColor="rgba(162, 161, 161, 1)" color="#25c4d4"></ngx-skill-bar>
            </div>

        </div>
    </div>
  </mat-grid-tile>

</mat-grid-list> -->
