<app-menu></app-menu>

<p style="font-family: google-sans;padding:70px;font-size:38px;">WorkSpace</p>


<mat-tab-group style="padding: 30px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">code</mat-icon> &nbsp;
        Projects
      </ng-template>
      <div style="padding: 50px;">
        Content 3
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">games</mat-icon> &nbsp;
        Hobbyies
      </ng-template>
      <div style="padding: 50px;">
        Content 3
      </div>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">books</mat-icon> &nbsp;
        Blogs
      </ng-template>
  
      <div style="padding: 50px;">
        Content 3
      </div>
    </mat-tab>
  </mat-tab-group>
