
@import '~@ctrl/ngx-emoji-mart/picker';


body{
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--bg);
  font-family: google-sans;
}
.tns{
  color: var(--text);
}
@font-face {
    font-family: google-sans;
    src: url(/assets/font/GoogleSans-Regular.ttf);
}

button:focus {
  outline:none;
  box-shadow: none;
}

.navbar-expand{
  background-color: yellow;
}
.navbar {
  background-color: yellow;
}
.navbar-light {
  background-color: yellow;
}
:root {
  --test0: #4e4e4e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --text: var(--test0);

}

.dark {
  --bg: var(--gray5);
  --text: var(--gray0);

}




/* defines the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

p {

  opacity: 0;

  animation: fadeInUp 1s ease-in-out 0s forwards;

  &.first {
    animation-delay: 1s;
  }
  &.second {
    animation-delay: 3s;
  }
  &.third {
    animation-delay: 5s;
  }
  &.fourth {
    animation-delay: 7s;
  }
  &.fifth {
    animation-delay: 9s;
  }
  &.sixth {
    animation-delay: 11s;
  }
 }